.container{
    width: 25%;
    height: auto;
    margin:  5px;
    border: 0.2rem solid black;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.749);
    box-shadow: 0.2rem -0.2rem rgba(48, 41, 41, 0.9);
    border-radius: 16px;
    
    
}

.btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btn button{
    background-color: red;
    width: 2rem;
    height: 2rem;
    color: white;
    margin-bottom: 5px;

}

.btn button:hover{
    background-color: white;
    color: red;
}
.imgCard{
    width: 50%;
}
.imgCard img{
    width: 70%;
    height: auto;
    object-fit: contain;
    border: 2px solid black;
    margin-bottom: 5px;
}


.textContent{
    width: 50%;
    border: 1px dashed black;
    /* background-color: rgb(255, 255, 255); */
    text-align: center;
    
    color: black;
    font-size: 10px;

    
}
.textContent h2:nth-child(odd){
    color: red;
}



.textContent h2{
    margin: 2px;
}

.info{
    display: flex;
    align-items: center;
}